.form{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgb(31 135 33 / 37%) !important;
    backdrop-filter: blur( 60.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-align-self: auto;
    width: 100%;
    /* filter: brightness(1.25); */
}

